body{
    margin: 0;
    text-transform: uppercase;
}

html{
    scroll-behavior: smooth;
}

ul{
    display: flex;
    float: right; 
    position: relative;
    bottom: 2.5em;
    left: 40em;
}

ul li{
    list-style: none;
    font-size: 20px;
    transform: rotate(45deg);
    transition-delay: 4s;
}

li a{
    padding:.10em;
    text-transform: uppercase;
    text-decoration: none;
}

li a:focus{
    color: rgb(102, 128, 0);
}

li a:hover{
    color: rgb(19, 19, 122);
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 10px;
}

.top{
    background-image: url(Images/photo-1560179707-f14e90ef3623.avif);
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.middleContent{  
    position: absolute;
    top: 40%;
    bottom: 40%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

.innerContent h1{
    color:rgb(144, 207, 41);
    font-size: 30px;
}

.middleContent h2{
    font-size: 45px;
    width: 20em;
}

.Buttons{
    position: absolute;
    right: 33em;
    top:30em;
}

.dn{
    background-color: rgb(43, 136, 212);
    transition: all 1s ease-in;
    color: white;
}

.feats{
    transition: all 1s ease-in;
    color: black;
}

.dn:hover{
    background-color: chocolate;
}

.feats:hover{
    opacity: 1;
}

.feats{
    opacity: 0.4;
}

.dn, .feats{
    padding: 15px 30px;
    border-radius:25px;
}

.txt1{
    margin: 0 auto;
    z-index: 1;
    position: relative;
    top: 18em;
    right: 16em;
    width: 45em;
    white-space: wrap;
    line-height: 1.5;
}

.about{
    position: relative;
    left:1em;
}

.about h1{
    margin: 0 auto;
    position: absolute;
    left: 22em;
    top: 1 em;
}

.about h4{
    position: absolute;
    left: 22em;
    top: 4em;
}

.glassCup{
    position: relative;
    float:right;
    bottom: 2em;
}

.Portfolio{
    position: relative;
    top: 35em;
    left: 34em;
}

.Portfolio h4{
    position: absolute;
    left: -8em;
}

.collums{
  flex: 33.33%;
  padding: 5px;
}

.multiImage{
    display: flex;
    position: relative;
    bottom: 4em;
}
