body{
    background-image: url(Images/glass_buildings_view_from_street_to_sky.jpg);
    background-size: cover;
    background-repeat: repeat;
    height:100%;
    text-transform: uppercase;
}

nav{
    min-width:720px;
    max-height: 100%;
    background-color: red;
}

ul{
    display: flex;
    float: right; 
}

ul li{
    list-style: none;
    font-size: 20px;
    transform: rotate(45deg);
}

li a:hover{
    color: blue;
    cursor: pointer;
}

li a{
    padding:.10em;
    text-transform: uppercase;
    text-decoration: none;
}

li a:visited{
    color: purple;
}

li a:focus{
    color: rgb(102, 128, 0);
}

.middleContent{
    display: inline-block;
    position: relative;
    top: 7em;
    text-align: center;
}

.Buttons{
    position: absolute;
    right: 35em;
    top: 25em;
    color: white;
}

.dn{
    background-color: rgb(43, 136, 212);
    transition: all 1s ease-in;

}

.dn:hover{
    background-color: chocolate;
}

.feats{
    opacity: 0.4;
}

.dn, .feats{
    color: white;
}